# Ignore virtual environment
venv/
ENV/
*.pyc
__pycache__/

# Ignore PyInstaller build directories
dist/
build/

# Ignore compiled executables
*.exe
*.spec
*.dll
*.so
*.dylib

# Ignore system files
.DS_Store
Thumbs.db
